@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 53% 16%;
    --foreground: 186 26% 93%;

    --card: 200 100% 29%;
    --card-foreground: 186 26% 93%;

    --popover: 209 53% 16%;
    --popover-foreground: 186 26% 93%;

    --primary: 202 79% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 198 63% 38%;
    --secondary-foreground: 0 0% 100%;

    --muted: 200 100% 29%;
    --muted-foreground: 186 26% 80%;

    --accent: 198 63% 38%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 198 63% 38%;
    --input: 200 100% 29%;
    --ring: 202 79% 49%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 209 53% 16%;
    --foreground: 186 26% 93%;
    --card: 200 100% 29%;
    --card-foreground: 186 26% 93%;
    --popover: 209 53% 16%;
    --popover-foreground: 186 26% 93%;
    --primary: 202 79% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 198 63% 38%;
    --secondary-foreground: 0 0% 100%;
    --muted: 200 100% 29%;
    --muted-foreground: 186 26% 80%;
    --accent: 198 63% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 198 63% 38%;
    --input: 200 100% 29%;
    --ring: 202 79% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(
      to bottom,
      #13293D 0%,
      #006494 40%,
      #247BA0 100%
    );
    background-attachment: fixed;
    min-height: 100vh;
  }
}
